.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #ff00ff, #00ff00, #0000ff, #ff0000, #ffff00, #00ffff);
    background-size: 250% 250%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .title {
    font-size: 95px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .button {
    font-size: 25px;
    padding: 10px 30px;
    margin: 0 60px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: #717aad;
    border: none;
    cursor: pointer;

  }
  